body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Calligraffitti';font-size: 25px;
  font:bolder;
  margin-top: -70px; 
  padding-top: 70px;
}

a{
  color: yellow;
}

a:hover{
  color: red;
}

a:active{
  color: red;
}

p{
  font-family: 'Calligraffitti';font-size: 25px;
  font:bolder;
}
.prueba {
    margin-top: -70px;
    padding-top: 70px;
   padding-bottom: 30px;
}
.inicio1 {
  background-image: url('img/inicio.png');
  background-repeat: no-repeat; 
  background-size: 90%;
  padding-bottom: 500px;
}
.inicio2 {
  background-image: url('img/inicio.png');
  background-repeat: no-repeat; 
  background-size: 100%;
}


.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
}


.navbar-brand{
  font-size:20px;
  color:#000 !important;
  font-weight:bold;
}
#showcase{
  background-image: url("../img/pexels-photo-533360-md.jpeg");   
  background-size: cover;
}
@media all and (min-width: 320px) {
  #showcase {background-image: url("../img/pexels-photo-533360-md.jpeg");}
}
@media all and (min-width: 768px) {
  #showcase {background-image: url("../img/pexels-photo-533360-lg.jpeg");}
}
#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{  
  width:90%;
 /* margin-left:60px; */
}

#showcase .showcase-right{
  margin-top:90px;
}

#testimonial{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#000;
}

#testimonial p.customer{
  font-size:20px;
  color:#666;
}

#info1 .info-right{
  margin-top:90px;
}

#info2{
  margin:20px 0 60px 0;
}

#contact{
  background-image:url(../img/rucola-salad-plant-leaf-sm.jpg);
  background-size: cover;  
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

footer{
  padding:30px;
}
